.container {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  align-items: center;
  justify-content: center;
  /* Set a maximum width for the container */
}

.imageContainer {
  max-width: 100%;
  padding: 0 30px;
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.textContainer h1 {
  margin-bottom: 30px;
}
.textContainer p{
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

/* Media query for tablet/desktop */
  
@media only screen and (min-width: 1000px) {

  .container {
    flex-direction: row;
    max-width: 100%;
    padding: 0 100px;
    margin: 0 auto;
    justify-content: space-around;
    height: 50vh;
  }

  .imageContainer {
    max-width: 100%;
  }

  .textContainer {
    max-width: 50%; 
    margin-bottom: 10px;

  }
  .textContainer h1{
    margin-bottom: 50px;

  }
  .container {
    height: 100vh;
  }

  .textContainer p{
    font-size: 25px;
    line-height: 40px;
    text-align: right;
  }

}
  

